.appbar {
    position: fixed;
    width: 100vw;
    display: flex;
    align-items: center;
    backdrop-filter: blur(7px); 
    background: rgba(255, 255, 255, 0.3); 
    /* box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.05); */
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  .appbar.scrolled{
    padding: 10px 0px ;
  }

  .logo{
    width: 300px;
    margin: 0px 0px 0px -50px;
  }
  @media (max-width: 600px) {
    .logo{
      width: 350px;
      margin: -10px 0px -10px -100px;
    }
  }
  
  .menu-wrapper {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-left: auto;
    font-size: smaller;
  }

  .mobmenu-wrapper{
    display: none;
    gap: 50px;
    margin-left: auto;
    font-size: smaller;
    margin-right: 20px;
  }

  .dropdown-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 70px;
    right: 20px;
    background-color: white;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    padding: 10px;
    z-index: 1;
  }

  .language-wrapper{
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 10px;
    gap: 5px;
    text-decoration: none;
    margin-right: 20px;
  }

  .moblanguage-wrapper{
    border: 1px solid #e6e8ec;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 5px;
  }

  .menuword{
    text-decoration: none;
    color: #151515;
    transition: font-size 0.3s ease;
    font-size: 15px;
    cursor: pointer;
  }

  @media (max-width: 960px) {
    
    .menu-wrapper {
        display: none;
    }
    /* .dropdown-menu {
        margin-top: 50px; 
      } */
      .mobmenu-wrapper{
        display: block;
      }
  }

  /* appbar.css */

.menu-item {
    position: relative;
  }

.menu-item::after {
  content: '';
  position: absolute;
  width: 101%;
  height: 3px;
  border-radius: 50px;
  bottom: -10px;
  left: 0;
  background-color: #005cb5;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease;
}

.menu-item:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
  



.dropdown {
  position: relative;
  display: inline-block;
  height: 100%;
}

.dropdown-list {
  display: none;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.94);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  backdrop-filter: blur(7px); 
  z-index: 1;
  flex-direction: column;
  padding: 20px;
  gap: 7px;
}

.dropdown-content{
  text-decoration: none;
  color: #005cb5;
  font-weight: 500;
  transition: all 0.3s ease-out;
}
/* .dropdown-content:hover{
  font-size: 17px;
} */

.dropdown:hover .dropdown-list {
  display: flex;
}

.dropdown-line{
  background-color: #ebeff2;
  height: 1px;
  margin: 10px 0px;
}

.dropdown-item {
    position: relative;
  }

.dropdown-item::after {
  content: '';
  position: absolute;
  width: 30%;
  height: 1px;
  border-radius: 50px;
  bottom: -2px;
  left: 0;
  background-color: #005cb5;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease;
}

.dropdown-item:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}