.home-wrapper2{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120vh;
  margin-top: -500px;
  background-repeat: no-repeat;
  color: #171717;
  background-image: url(../../Images/main-frame.png);
  background-size: 100%;
}
@media (max-width: 600px) {
    .home-wrapper2 {
      display: flex;
      flex-direction: column;
      margin-top: -200px;
      height: 1200px;
      background-image: url(../../Images/main-frame-ph.png);

    }
}

.item1{
  display: flex;
  gap: 5px;
  margin: -350px 250px 0px -70px;
}

.item2{
  display: flex;
  gap: 10px;
  justify-content: start;
  align-items: start;
  margin: -280px 0px 0px -100px;
}

.counting{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1px;
  margin: -110px 200px 0px 0px;
}

@media (max-width: 600px) {
  .item1{
    display: flex;
    gap: 5px;
    margin: -200px 0px 0px 0px;
  }
  
  .item2{
    display: flex;
    gap: 10px;
    justify-content: start;
    align-items: start;
    margin: 50px 0px 0px 0px;
  }
  
  .counting{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 10px;
    margin: 0px 0px 0px 0px;
  }
  }

.counter{
  font-family: system-ui;
  font-weight: 800;
  font-size: 120px;
}
.counter-text{
  font-family: system-ui;
  font-weight: 200;
  font-size: 65px;
  margin-top: -25px;
}
@media (max-width: 600px) {
  .counter{
    font-family: system-ui;
    font-weight: 900;
    font-size: 90px;
  }
  .counter-text{
    font-family: system-ui;
    font-weight: 200;
    font-size: 35px;
    margin-top: -25px;
  }
  }
.counter-wrapper{
  display: flex;
  text-align: center;
}
.centered-container {
  text-align: center;
}

.gradient-text {
    /* background: linear-gradient(to right, #ff00cc, #3333cc); #d90777 #8800ff*/
    /* background: linear-gradient(to right, #00509e, #003e7a, black); */
    background: linear-gradient(to right, #00509f,#00509f, #249db8);
    -webkit-background-clip: text;
    color: transparent;
  }
   
  .service-div{
    display: flex;
    margin-top: -50px;
  }

  .service-heading{
    color: #00509e;
  }

  .text-image {
      transform: rotate(90deg);
      background: linear-gradient(to right,#f00080, #00509e);
      -webkit-background-clip: text;
      color: transparent;
      margin-top: 300px;
      margin-left: -330px;
   }
   @media (max-width: 600px) {
      .text-image {
        margin-top: 300px;
        margin-left: -185px;
      }
    }

    .service-logo{
      width: 500px;
      transition: fill 0.3s ease;
    }

    .service-logo:hover{
      fill: white;
    }

    .newsletter-main{
      margin-top: -340px;
      padding: 0px 0px 100px 100px;
    }
    @media (max-width:600px){
      .newsletter-main{
        margin-top: -430px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0px 0px 0px 0px;
      }
    }

    .newsletter-wrapper{
      display: flex;
    }

    .newsletter-input{
      background-color: transparent;
      border: 1.5px solid #171717;
      border-radius: 0px;
      padding: 20px 25px;
      width: 300px;
    }
    .newsletter-input::placeholder{
      font-family: system-ui;
      color: #171717;
      font-size: 15px;
    }

    .newsletter-button{
      background-color: transparent;
      border: 1.5px solid #171717;
      padding: 9px;
      margin: 0px 0px 0px -1.5px;
    }














    