.home-wrapper{
    padding: 25vh 15vw 0vh 15vw;
}
@media (max-width: 600px) {
    .home-wrapper {
        padding: 21vh 10vw 0vh 10vw;
    }
}

.home-wrapper2{
    padding: 10vh 15vw 10vh 15vw;
    background: linear-gradient(to bottom right, #00509e,black,black,black,#f00080);
    margin-top: 100px;
}
@media (max-width: 600px) {
    .home-wrapper2 {
        padding: 10vh 10vw 0vh 10vw;

    }
}

.main-title{
    font-size: 70px;
    padding: 2px 0px;
    font-family: system-ui;
    font-weight: 900;
    transition: font-size 0.5s ease;
}
@media (max-width: 600px) {
    .main-title {
      font-size: 10vw; 
    }
  }
  
  @media (max-width: 400px) {
    .title {
      font-size: 15vw;
    }
  }

.title{
    font-family: system-ui;
    font-size: 2vw;
    font-weight: 800;
    transition: font-size 0.5s ease;
}
@media (max-width: 600px) {
    .title {
      font-size: 5vw; 
    }
  }

.title-container{
    line-height: 6px;
}
@media (max-width: 600px) {
    .title-container {
      line-height: 22px;

    }
  }

.para{
    font-size: large;
    font-family: system-ui;
    text-align: justify;
    transition: font-size 0.5s ease;
    padding-right: 30vw;
}
@media (max-width: 600px) {
    .para {
        text-align: justify;
        padding-right: 2vw;
    }
}

.gradient-line{
  text-align: right;
  margin-right: -60px;
  margin-top: 30px;
}
@media (max-width: 600px) {
  .gradient-line{
    text-align: right;
    margin-right: -5vw;
    margin-top: 60px;
  }
}

.gradient-text {
    /* background: linear-gradient(to right, #ff00cc, #3333cc); #d90777 #8800ff*/
    /* background: linear-gradient(to right, #00509e, #003e7a, black); */
    background: linear-gradient(to right, #00509e,#f00080);
    -webkit-background-clip: text;
    color: transparent;
  }

  .typing-text {
    overflow: hidden;
    border-right: 2px solid #5e5e5e;
    white-space: nowrap;
    margin: 0;
    animation: typing 3s steps(40, end), blink-caret 0.5s step-end infinite;
  }
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  @keyframes blink-caret {
    from,
    to {
      border-color: transparent;
    }
    50% {
      border-color: #5e5e5e;
    }
  }


  .container {
    display: grid;
    align-items: center; 
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
   }
   
   img {
     max-width: 100%;
     max-height:100%;
   }
   
   .text {
     font-size: 70px;
   }
    .counter{
        font-family: system-ui;
        font-weight: 900;
        font-size: 100px;
    }
   .counter-wrapper{
        margin-top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
   }
   .counter-text{
    font-family: system-ui;
    font-weight: 200;
    font-size: 50px;
    margin-top: -25px;
   }
   .centered-container {
    text-align: center;
  }
