.container {
    position: relative;
    height: 150vh;
    overflow: hidden;
  }
  
  .background {
    position: absolute;
    z-index: 1; /* Place the background behind the foreground */
  }
  
  .foreground {
    position: absolute;
    z-index: 2; /* Place the foreground on top of the background */
    transform: translateY(-50%);
  }
  